.para-container{
    padding: 100px 150px 100px 150px;

}
.para{
    text-align: center;
}
.para p{
    
        margin-top: 20px;
      
        font-size: 23px;
        font-weight: 500;
      
        line-height: 1.5;
      
        color: #000000;
      

}